.post {
    text-align: left;
    border: 1px solid rgb(6, 6, 6);
    border-radius:15px;
    padding: 10px;
    margin-bottom:15px;
    width:30%;
    background: lavender;
    font-family: sans-serif;
}
.post > *{
    margin-bottom:15px;
}

.post-form{ 
    display: flex;
    flex-direction: column;
    min-width: 20em;
}

[text-area ='postContent']{
    resize: none;
    width: auto;
    height: 10vh;
}

[post-form-item ='postFormItem']{
    border-radius: 5px;  
    font-size:20px; 
    padding-left: 5px; 
    margin-top:10px
}

@media  (max-width: 768px){
    .post {
        width:40%;
    }
}
